image: ruby:2.7.7

pipelines:
  default:
    - step:
        name: Generate the blog with Jekyll
        caches:
          - bundler
        script:
          - apt update && apt install -y graphviz
          - gem install bundler:2.2.13
          - bundle config set --local path vendor/bundle
          - bundle install
          - bundle exec jekyll build --destination public
          - pipe: atlassian/azure-storage-deploy:2.1.0
            variables:
              SOURCE: 'public'
              DESTINATION_STORAGE_ACCOUNT_NAME: 'https://${AZURE_STORAGE_KEY}.blob.core.windows.net'
              DESTINATION_CONTAINER_NAME: '\\$web'
              DESTINATION_SAS_TOKEN: '${AZURE_SAS_TOKEN}'
              OVERWRITE: 'true'
          - mkdir dist
          - tar -czvf dist/package-${BITBUCKET_BUILD_NUMBER}.tar.gz -C public .
        artifacts:
          - dist/**

definitions:
  caches:
    bundler: vendor/bundle
