@import "colors";

.popup {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.05);

  align-items: center;
  justify-items: center;

  #content {
    margin: auto 2em;
    padding: 2em;
    background: white;
    border-radius: 2em;

    h1 {
      text-align: center;
      font-size: 1.5em;
      margin: .8em 0;

      color: $heading-color;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &.open {
    display: flex;
  }
}

.scalable-image {
  cursor: pointer;
}