---
---

@charset "utf-8";

@import 'colors';
@import 'admotion';
@import "navigation";
@import "header";
@import "tableblock";
@import "popover";
@import "codeblocks";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  gap: 1.5rem;
  min-height: 100vh;

  article {
    flex: 1;
    max-width: 70rem;
    padding: 0 1.5rem 2rem 1.5rem;
    color: rgb(59, 69, 78);

    h1 {
      color: $heading-color;
      font-size: 2em;

      border-bottom: 2px solid $border-color;

      padding: 0 0 1rem 0;
      margin-bottom: 1.5rem;
    }

    h2 {
      margin: 3rem 0 2rem 0;
      border-top: 1px solid $border-color;
      padding-top: 1rem;
      padding-left: .25rem;

      color: darken($heading-color, 10%);
      font-weight: 700;
      font-size: 24px;
    }

    ul > li > p, ol > li > p {
      margin: .25rem 0;
    }

    .imageblock {
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }

      .title {
        color: #b7153f;
        font-style: italic;
      }
    }

    code {
      color: #b7153f;
      border-radius: 3px;

      font-family: inherit;
    }

    table.tableblock {
      border-spacing: .5rem;
      p {
        margin: 0;
      }
    }
  }
}


@media (width < 768px) {
  main {
    nav {
      width: 6rem;
      overflow-x: hidden;
      padding: .5rem 0 0 .5rem;

      & > section > a {
        padding: .25rem;
      }
    }
  }
}