---
---

$max-width: 61rem;
$mobile-max-width: 100%;
$base-color: rgb(29 77 116);

:root {
  font-size: 1.375em;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;

  .container {
    width: $max-width;
    margin: 0 auto;
  }

  header {
    @import "section-layout/header";
  }

  & > nav {
    background-color: lighten($base-color, 2%);
    padding: .3rem 0 .5rem 0;
    font-size: .75em;

    .container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255, .7);

      &.active {
        color: rgb(255, 255, 255);
      }
    }
  }

  main {
    padding-top: 2rem;

    .container {
      display: flex;
      flex-direction: row;
      gap: .5rem;

      & > nav {
        @import "section-layout/chapter-navigation";
      }

      & > .content {
        @import "section-layout/chapter-content";
      }

      & > .page-nav {
        @import "section-layout/page-navigation";
      }
    }

    @import "popover";
  }
}

@media (max-width: 1350px) {
  body .container {
    width: $mobile-max-width;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  body main .container {
    & > .content {
      padding-right: 1rem;
    }
    & > .page-nav {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  body main {
    padding-top: .25rem;

    .container {
      flex-direction: column;

      & > nav {
        border-right: none;
        border-bottom: 1px solid rgba(230, 230, 230, 0.8);

        padding-bottom: 1rem;
        width: 93vw;
      }
    }
  }
}