name: Deploy documentation

on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/build-documentation.yml
  deployment:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: documentation
          path: public
      - name: Upload to blob storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az storage blob upload-batch --overwrite --account-name ${{ secrets.AZURE_CONTAINER }} --auth-mode key -d '$web' -s public
      - name: logout
        run: |
          az logout
        if: always()
  pledger-web:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: documentation
          path: public
      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.PLEDGER_WEB_DEPLOY_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          app_location: "/"
          output_location: "public"
          action: "upload"